.App {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;

  .headerContainer {
    margin: 30px;
  }
  .headerContent {
    margin: 30px;
  }
  .verse {
    font-style: italic;
  }
  .reference {
    font-weight: bold;
    padding-top: 6px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
